{% extends 'basic.html' %}
{% block title %}
About Us
{% endblock title %}
{% block about %}
menu-active
{% endblock about %}

{% block body %}
<h2 class="text-center text-danger">About Us</h2>
<div class="text">
  <h3 class="text-center">The worl has switch from paper documentations to web documented page. The old ways of keeping school records
    have switched so fast that we cant keep records of our students current and past because of high number of students. clouding the book shelfs
    with register booklets and very had to query. I thought of a way to help ease  this functionality for school principals and teachers.
    ScAdmin is an innovative webpage yet to be deployed as an application to  be developed for quick and accurate queries of school data. 
{% endblock body %}
