{% extends 'base.html' %}
{% block title %}
Student Details                                                 {% endblock title %}                                            


{% block body %}
 <h3 class="text-center"><span>Student Details</span> </h3>

{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}


</div>                                                            {% endfor %}
  {% endif %}
  {% endwith %}
<br>
